.flex {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 10px;
}
.result-flex {
  display:flex;
  flex-direction:column;
}
