<!-- <div class="flex">
  <mat-card appearance="raised">
    <mat-card-header>
      <mat-card-title>Portfolio</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Month and Year</mat-label>
        <input matInput [matDatepicker]="dp" [formControl]="date" />
        <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
        <mat-datepicker
          #dp
          startView="multi-year"
          (monthSelected)="setMonthAndYear($event, dp)"
          panelClass="example-month-picker"
        >
        </mat-datepicker>
      </mat-form-field>
      <app-calculation-form></app-calculation-form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button>Submit</button>
    </mat-card-actions>
  </mat-card>
</div> -->
<mat-progress-bar
  *ngIf="isLoading"
  mode="indeterminate"
  color="primary"
></mat-progress-bar>
<app-basic-info (valueChangeEvent)="onValueChange($event)"></app-basic-info>
<div class="flex">
  <app-sip-section (valueChangeEvent)="onValueChange($event)"></app-sip-section>
  <app-current-corpus
    (valueChangeEvent)="onValueChange($event)"
  ></app-current-corpus>
  <app-result [retirementAge]="retirementAge"></app-result>
</div>
<div class="center">
  <button mat-raised-button (click)="submitForm()" [disabled]="!isValid">
    Calculate
  </button>
</div>
