<div class="flex">
  <div class="form-wrapper">
    <mat-card>
      <mat-card-content
        ><form [formGroup]="basicFormGroup" class="basicForm">
          <p>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Current Age</mat-label>
              <input
                matInput
                placeholder="Enter current age"
                type="number"
                min="0"
                formControlName="current_age"
                required
              />
            </mat-form-field>
            <mat-checkbox
              (change)="disable('fi_age')"
              [checked]="fi_age_required"
            ></mat-checkbox>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Financial Age</mat-label>
              <input
                matInput
                placeholder="Enter Financial Independent Age"
                type="number"
                min="0"
                formControlName="fi_age"
                [required]="fi_age_required"
              />
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Life Span</mat-label>
              <input
                matInput
                placeholder="Enter lifespapn"
                type="number"
                min="0"
                formControlName="lifespan"
                required
              />
            </mat-form-field>
            <mat-checkbox
              [checked]="monthly_expenses"
              (change)="disable('monthly-expense')"
            ></mat-checkbox>
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Monthly Expenses</mat-label>
              <input
                matInput
                placeholder="Monthly Expenses"
                type="number"
                min="0"
                formControlName="monthly_expenses"
                required
              />
            </mat-form-field>
          </p>
          <!-- <p>
            <button
              type="submit"
              mat-raised-button
              color="primary"
              [disabled]="!basicFormGroup.valid"
            >
              Submit
            </button>
          </p> -->
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
